<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello Editor!
	There's a new tip added on TipTracker.
    </p>
    <p>
  
  </body>
</html>